<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Listagem de Alunos</title>
    <link rel="stylesheet" href="../styles/styleAceitarAluno.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">
    <div class="container1">
        <div class="logo">
            <img src="../images/LOGO Branco e Vermelho.png" alt="">
        </div>
    </div>
   
    <ul id="lista-alunos"></ul>
    <script src="../scripts/ListarAlunos.js"></script>

    </div>
</body>
</html>
