<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Aluno</title>
    <link rel="stylesheet" href="../styles/styleCadastroAluno.css">
    
</head>
<body>
    <div class="conteiner1">
        <div class="logo-container">
            <div class="logo">
                <img src="../images/LOGO.png" alt="Instituto Helena Fernandes">
            </div>
        </div>
    </div>
   <div class="formulario">
    <div class="box">
        <form action="">
        <input type="text" class="nome_aluno" name= "nome_aluno" placeholder="Nome: ">
        <input type="text" class="emailAluno" name= "emailAluno" placeholder="Email: ">
        <input type="password" class="senha_aluno" name= "senha_aluno" placeholder="Senha: ">
        <div class="button1">
            <button>Criar</button>
        </div>
       
    </form>
    </div>
    
</div>
<script src="../scripts/CadastroAluno.js"></script>
</body>
</html>