<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Cadastro Disciplina</title>
    <link rel="stylesheet" href="../styles/styleCadastroDisciplina.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="logo-container">
            <img src="../images/LOGO.png" alt="Logo"> 
        </div>
        <div class="container1">
            <div class="text-center">
                <h1>Nova Disciplina</h1>
            </div>
            <div class="box">
                <form action="">
                <p class="box-name">Nome da Disciplina:</p>
                <input type="text" class="nome_disciplina" name= "nome_disciplina" placeholder="Matemática: ">
                <p class="box-name">Carga Horária da Disciplina:</p>
                <input type="text" class="carga_horaria" name= "carga_horaria" placeholder="XX horas: ">
                <div class="button1">
                    <button class="add-button">Registrar</button>
                </div>
                <a href="GerenciarDisciplina.html">Voltar para a página anterior</a>
        </div>

        <ul id="lista-alunos"></ul>
    </div>
</body>
</html>