<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Disciplina</title>
    <link rel="stylesheet" href="../styles/styleEditarDisciplina.css">
</head>
<body>
    <div class="container">
        <div class="container1">
            <div class="logo-container">
                <img src="../images/LOGO.png" alt="Logo"> 
            </div>
        </div>
        <div class="container2">
            <div class="form-container">
                <form id="formDisciplina" action="">
                    <label for="nome_Disciplina">Nome da Disciplina:</label>
                    <input type="text" class="nome_Disciplina" id="nomeDisciplina" placeholder="Nome da Disciplina">
                    <label for="carga_Horaria">Carga Horária:</label>
                    <input type="number" class="carga_Horaria" id="cargaHoraria" placeholder="Carga Horária">
                    <div class="buttonPC">
                        <button type="submit">Editar</button>
                        <a href="GerenciarDisciplina.html">Voltar para a página anterior</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <script src="../scripts/EditarDisciplina.js"></script>
</body>
</html>
