<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Editar Turma</title>
    <link rel="stylesheet" href="../styles/styleEditarTurma.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="logo-container">
            <img src="../images/LOGO.png" alt="Logo"> 
        </div>
        <div class="container1">
            <div class="text-center">
                <h1>Editar Turma</h1>
            </div>
            <div class="box">
                <form id="turmaForm" action="">
                    <p class="box-name">Nome da Turma:</p>
                    <input type="text" id="nome_turma"  class="nome_turma" name="nome_turma">
                    <p class="box-name">Alunos:</p>
                    <div id="alunosCheckboxes"></div>
                    <p class="box-name">Disciplinas:</p>
                    <div id="disciplinasCheckboxes"></div>
                    <p class="box-name">Professores:</p>
                    <div id="professoresCheckboxes"></div>
                    <div class="button-group">
                        <button type="submit" class="add-button">Salvar</button>
                        <button type="button" onclick="window.history.back()" class="back-button">Voltar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="../scripts/EditarTurma.js"></script>
</body>
</html>
