<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário do Aluno</title>
    <link rel="stylesheet" href="../styles/styleFormularioAluno.css">
</head>
<body>
    <div class="container">
        
        <div class="container1">
            <div class="logo-container">
                <img src="../images/LOGO.png" alt="Logo"> 
            </div>
        </div>
        <div class="container2">
        <div class="imagemEsquerda">
            <img src="../images/PARTE VERMELHA.png" alt="" width="500px">
        </div>
    </div>
    <div class="container3">
        <div class="form-container">
            <form action="">
                <input type="text" name="cpf_aluno" id="cpf_aluno" placeholder="CPF Do Aluno: ">
                <input type="text" name="data_nascimento" id="data_nascimento" placeholder="Data de Nascimento: ">
                <input type="text" name="alergia" id="alergia" placeholder="Alergias: ">
                <input type="text" name="cidade" id="cidade" placeholder="Cidade">
                <input type="text" name="bairro" id="bairro" placeholder="Bairro:">
                <input type="text" name="rua" id="rua" placeholder="Rua:">
                <input type="text" name="numero_casa" id="numero_casa" placeholder="Número da Casa">
                <input type="text" name="mais_informacoes" id="mais_informacoes" placeholder="Mais Informações: ">
                <input type="text" name="nome_responsavel" id="nome_responsavel" placeholder="Nome do Responsável: ">
                <input type="text" name="cpf_responsavel" id="cpf_responsavel" placeholder="CPF do Responsável: ">
                <input type="text" name="telefone_responsavel" id="telefone_responsavel" placeholder="Telefone do Responsável: ">
                <div class="buttonPC">
                    <button type="button" onclick="atualizar()">Fazer Pré Cadastro</button>
                </div>
            </form>
        </div>
    </div>

    </div>
    
    <script src="../scripts/FormularioAluno.js"></script>
</body>
</html> 