<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Gerenciamento de Disciplinas</title>
    <link rel="stylesheet" href="../styles/styleGerenciarDisciplinas.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="logo-container">
            <img src="../images/LOGO.png" alt="Logo"> 
        </div>
        <div class="container1">
            <div class="text-center">
                <h1>Gerenciar Disciplinas</h1>
            </div>
            <div class="button-container">
                <a href="./CadastroDisciplina.html"><button class="add-button">Adicionar</button></a> 
            </div>
        </div>

        <ul id="lista-disciplinas"></ul>
        <script src="../scripts/ListarDisciplinas.js"></script>

    </div>
    
    
    


</body>









</html>