<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Gerenciamento de Professores</title>
    <link rel="stylesheet" href="../styles/styleGerenciarProfessores.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="logo-container">
            <img src="../images/LOGO.png" alt="Logo">
        </div>
        <div class="container1">
            <div class="text-center">
                <h1>Gerenciar Professores</h1>
            </div>
            <div class="button-container">
                <a href="./FormularioProfessor.html"><button class="add-button">Adicionar</button></a> 
            </div>
            <div class="card">
                <div class="professor">
<!--                    <img src="../images/image.png" alt="Professor Image" width="106" height="106">-->
                    <div>
                        <h3>Professor 1</h3>
                        <p>Disciplina: Matemática</p>
                    </div>
                </div>
                <button>Detalhes</button>
            </div>
            <div class="card">
                <div class="professor">
<!--                    <img src="../images/image.png" alt="Professor Image" width="106" height="106">-->
                    <div>
                        <h3>Professor 2</h3>
                        <p>Disciplina: Matemática</p>
                    </div>
                </div>
                <button>Detalhes</button>
            </div>

        <ul id="lista-alunos"></ul>
        <script src="../scripts/ListarProfessores.js"></script>

    </div>
    
    
    


</body>









</html>