<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Gerenciamento de Professores</title>
    <link rel="stylesheet" href="../styles/styleGerenciarProfessores.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            <div class="logo-container">
                <img src="../images/LOGO.png" alt="Logo">
            </div>
            <h1>Gerenciamento de Professores</h1>
        </header>

        <main>
            <div class="button-container">
                <a href="./FormularioProfessor.html"><button class="add-button">Adicionar</button></a> 
            </div>
            <ul id="lista-professores"> <!-- Lista de professores -->
                <!-- Os cards dos professores serão inseridos aqui dinamicamente -->
            </ul>
        </main>
    </div>
    
    <script src="../scripts/ListarProfessores.js"></script> <!-- Importe o arquivo JavaScript -->
</body>
</html>
