<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Gerenciamento de Turmas</title>
    <link rel="stylesheet" href="../styles/styleListarTurmasProfessor.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="logo-container">
            <img src="../images/LOGO.png" alt="Logo"> 
        </div>
        <div class="container1">
            <div class="text-center">
                <h1>Gerenciar Turmas</h1>
            </div>
        </div>

        <ul id="lista-turmas"></ul>
        <script src="../scripts/ListarTurmasProfessor.js"></script>

    </div>
</body>
</html>
