<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Aluno</title>
    <link rel="stylesheet" href="../styles/styleLoginAluno.css">
</head>
<body>
    <div class="conteiner1">
        <div class="logo-container">
            <div class="logo">
                <img src="../images/LOGO.png" alt="Instituto Helena Fernandes">
            </div>
        </div>
    </div>
    <div class="formulario">
        <div class="box">
            <form action="">
                <input type="text" id="emailAluno" class="email" name="email" placeholder="Email: ">
                <input type="password" id="senha_aluno" class="senha" name="senha" placeholder="Senha: ">
                <div class="center-button">
                    <div class="button1">
                        <button type="button" onclick="login()">Entrar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="criarConta">
            <a href="CadastroAluno.html">Não possui conta? <br> Crie uma clicando aqui</a>
        </div>
    </div>
    
<div class="conteiner2">
    <div class="colagemdefotos">
    <img src="../images/fotos.png" alt="Fotos">
    </div>
</div>
<script src="../scripts/LoginAluno.js"></script>
</body>
</html>