<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Notas dos Alunos</title>
    <link rel="stylesheet" href="../styles/styleNotaDosAlunos.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="logoHeader">
        <img src="../images/LOGO.png" alt="Logo">
    </div>
    <div class="container">
        <h1 class="text-center">Turma 6A</h1>
        <form id="notas-form">
            <table>
                <thead>
                    <tr>
                        <th>Aluno</th>
                        <th>P1</th>
                        <th>P2</th>
                        <th>P3</th>
                        <th>T1</th>
                        <th>T2</th>
                        <th>T3</th>
                        <th>Detalhes</th>
                    </tr>
                </thead>
                <tbody id="lista-alunos">
                    <!-- Alunos serão carregados aqui -->
                </tbody>
            </table>
            <div class="button-group">
                <button type="button" onclick="window.history.back()">Voltar</button>
            </div>
        </form>
      
    </div>
    <script src="../scripts/NotaDosAlunos.js"></script>
</body>
</html>
