<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Tela Administrador</title>
    <link rel="stylesheet" href="../styles/styleTelaAdministrador.css">
    
</head>
<body>
    <div class="container">
<div class="logoHeader">
   <img src="../images/LOGO.png" alt=""> 
</div>
<div class="parte1">
    <div class="text">
        <h1>Seja bem-vindo, <br> Administrador</h1>
    </div>
    <div class="imagemFrame">
        <img src="../images/Frame.png" alt="">
    </div>
</div>
<div class="parte2">
    <div class="card1">
        <p>Gerenciar Professor</p>
        <div class="bt">
            <button >Entrar</button>
        </div>
    </div>
    <div class="card2">
        <p>Gerenciar Aluno</p>
        <div class="bt">
            <button >Entrar</button>
        </div>
    </div>
    <div class="card3">
        <p>Gerenciar Disciplina</p>
        <div class="bt">
            <button>Entrar</button>
        </div>
    </div>
    <div class="card4">
        <p>Gerenciar Turmas</p>
        <div class="bt">
            <button>Entrar</button>
        </div>
    </div>

</div>
    </div>
</body>
</html>