<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <title>Gerenciamento de Disciplinas</title>
    <link rel="stylesheet" href="../styles/VisualizarHorarios.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>

    <div class="container">
        <div class="logo-container">
            <img src="../images/LOGO.png" alt="Logo">
        </div>
        <div class="container1">
            <div class="text-center">
                <h1>Veja os horários abaixo</h1>
            </div>
        </form id="notas-form">
            <section carrousel>
                <input id="slide-0" name="carrousel" type="radio" checked />
                <div class="slide">
                    <label for="slide-4" class="back">◀</label>
                    <div class="slide-content">
                        <h1>Segunda-Feira</h1>
                        <div class="horario">
                            <div>
                                <h2>Português</h2>
                                <p>Professor: Ana</p>
                            </div>
                            <div>
                                <h2>Horário: 07:00 - 07:50</h2>
                            </div>
                        </div>
                        <div class="horario">
                            <div>
                                <h2>Matemática</h2>
                                <p>Professor: Carlos</p>
                            </div>
                            <div>
                                <h2>Horário: 07:50 - 08:50</h2>
                            </div>
                        </div>
                        <div class="horario">
                            <div>
                                <h2>História</h2>
                                <p>Professor: Júlia</p>
                            </div>
                            <div>
                                <h2>Horário: 08:50 - 09:40</h2>
                            </div>
                        </div>
                        <div class="horario">
                            <div>
                                <h2>Geografia</h2>
                                <p>Professor: Pedro</p>
                            </div>
                            <div>
                                <h2>Horário: 09:50 - 10:40</h2>
                            </div>
                        </div>
                        <div class="horario">
                            <div>
                                <h2>Ciências</h2>
                                <p>Professor: Mariana</p>
                            </div>
                            <div>
                                <h2>Horário: 10:40 - 11:30</h2>
                            </div>
                        </div>
                    </div>
                    <label for="slide-1" class="forward">▶</label>
                </div>
            
                <input id="slide-1" name="carrousel" type="radio" />
                <div class="slide">
                    <label for="slide-0" class="back">◀</label>
                    <div class="slide-content">
                        <h1>Terça-Feira</h1>
                        <div class="horario">
                            <div>
                                <h2>Educação Física</h2>
                                <p>Professor: Lucas</p>
                            </div>
                            <div>
                                <h2>Horário: 07:00 - 07:50</h2>
                            </div>
                        </div>
                        <div class="horario">
                            <div>
                                <h2>Inglês</h2>
                                <p>Professor: Paula</p>
                            </div>
                            <div>
                                <h2>Horário: 07:50 - 08:50</h2>
                            </div>
                        </div>
                        <div class="horario">
                            <div>
                                <h2>Artes</h2>
                                <p>Professor: Roberto</p>
                            </div>
                            <div>
                                <h2>Horário: 08:50 - 09:40</h2>
                            </div>
                        </div>
                        <div class="horario">
                            <div>
                                <h2>Biologia</h2>
                                <p>Professor: Tatiana</p>
                            </div>
                            <div>
                                <h2>Horário: 09:50 - 10:40</h2>
                            </div>
                        </div>
                        <div class="horario">
                            <div>
                                <h2>Filosofia</h2>
                                <p>Professor: Cláudio</p>
                            </div>
                            <div>
                                <h2>Horário: 10:40 - 11:30</h2>
                            </div>
                        </div>
                    </div>
                    <label for="slide-2" class="forward">▶</label>
                </div>
            
                <input id="slide-2" name="carrousel" type="radio" />
                <div class="slide">
                    <label for="slide-1" class="back">◀</label>
                    <div class="slide-content">
                        <h1>Quarta-Feira</h1>
                        <div class="horario">
                            <div>
                                <h2>Química</h2>
                                <p>Professor: Fernanda</p>
                            </div>
                            <div>
                                <h2>Horário: 07:00 - 07:50</h2>
                            </div>
                        </div>
                        <div class="horario">
                            <div>
                                <h2>Geografia</h2>
                                <p>Professor: Pedro</p>
                            </div>
                            <div>
                                <h2>Horário: 07:50 - 08:50</h2>
                            </div>
                        </div>
                        <div class="horario">
                            <div>
                                <h2>História</h2>
                                <p>Professor: Júlia</p>
                            </div>
                            <div>
                                <h2>Horário: 08:50 - 09:40</h2>
                            </div>
                        </div>
                        <div class="horario">
                            <div>
                                <h2>Educação Física</h2>
                                <p>Professor: Lucas</p>
                            </div>
                            <div>
                                <h2>Horário: 09:50 - 10:40</h2>
                            </div>
                        </div>
                        <div class="horario">
                            <div>
                                <h2>Inglês</h2>
                                <p>Professor: Paula</p>
                            </div>
                            <div>
                                <h2>Horário: 10:40 - 11:30</h2>
                            </div>
                        </div>
                    </div>
                    <label for="slide-3" class="forward">▶</label>
                </div>
            
                <input id="slide-3" name="carrousel" type="radio" />
                <div class="slide">
                    <label for="slide-2" class="back">◀</label>
                    <div class="slide-content">
                        <h1>Quinta-Feira</h1>
                        <div class="horario">
                            <div>
                                <h2>Português</h2>
                                <p>Professor: Ana</p>
                            </div>
                            <div>
                                <h2>Horário: 07:00 - 07:50</h2>
                            </div>
                        </div>
                        <div class="horario">
                            <div>
                                <h2>Matemática</h2>
                                <p>Professor: Carlos</p>
                            </div>
                            <div>
                                <h2>Horário: 07:50 - 08:50</h2>
                            </div>
                        </div>
                        <div class="horario">
                            <div>
                                <h2>História</h2>
                                <p>Professor: Júlia</p>
                            </div>
                            <div>
                                <h2>Horário: 08:50 - 09:40</h2>
                            </div>
                        </div>
                        <div class="horario">
                            <div>
                                <h2>Geografia</h2>
                                <p>Professor: Pedro</p>
                            </div>
                            <div>
                                <h2>Horário: 09:50 - 10:40</h2>
                            </div>
                        </div>
                        <div class="horario">
                            <div>
                                <h2>Ciências</h2>
                                <p>Professor: Mariana</p>
                            </div>
                            <div>
                                <h2>Horário: 10:40 - 11:30</h2>
                            </div>
                        </div>
                    </div>
                    <label for="slide-4" class="forward">▶</label>
                </div>
            
                <input id="slide-4" name="carrousel" type="radio" />
                <div class="slide">
                    <label for="slide-3" class="back">◀</label>
                    <div class="slide-content">
                        <h1>Sexta-Feira</h1>
                        <div class="horario">
                            <div>
                                <h2>Educação Física</h2>
                                <p>Professor: Lucas</p>
                            </div>
                            <div>
                                <h2>Horário: 07:00 - 07:50</h2>
                            </div>
                        </div>
                        <div class="horario">
                            <div>
                                <h2>Inglês</h2>
                                <p>Professor: Paula</p>
                            </div>
                            <div>
                                <h2>Horário: 07:50 - 08:50</h2>
                            </div>
                        </div>
                        <div class="horario">
                            <div>
                                <h2>Artes</h2>
                                <p>Professor: Roberto</p>
                            </div>
                            <div>
                                <h2>Horário: 08:50 - 09:40</h2>
                            </div>
                        </div>
                        <div class="horario">
                            <div>
                                <h2>Química</h2>
                                <p>Professor: Fernanda</p>
                            </div>
                            <div>
                                <h2>Horário: 09:50 - 10:40</h2>
                            </div>
                        </div>
                        <div class="horario">
                            <div>
                                <h2>Biologia</h2>
                                <p>Professor: Tatiana</p>
                            </div>
                            <div>
                                <h2>Horário: 10:40 - 11:30</h2>
                            </div>
                        </div>
                    </div>
                    <label for="slide-0" class="forward">▶</label>
                </div>
            </section>
            <div class="button-group">
                <button type="button" onclick="window.history.back()">Voltar</button>
            </div>
        </div>
    </div>
</form>
</body>

</html>
