<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <title>Visualizar Notas</title>
    <link rel="stylesheet" href="../styles/styleNotaDosAlunos.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="logoHeader">
        <img src="../images/LOGO.png" alt="Logo" />
      </div>
    <div class="container">
        <div class="text-center">
          <h1>Veja suas Notas Abaixo</h1>
          <form id="notas-form">
          <table id="notas-table">
            <thead>
              <tr>
                <th>Disciplina</th>
                <th>P1</th>
                <th>P2</th>
                <th>P3</th>
                <th>T1</th>
                <th>T2</th>
                <th>T3</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody id="notas-body">
              <!-- Notas serão carregadas aqui -->
            </tbody>
          </table>
          <div class="button-group">
                <button type="button" onclick="window.history.back()">Voltar</button>
            </div>
        </div>
    </form>
    </div>

    <script src="../scripts/VisualizarNotasAluno.js"></script>
  </body>
</html>
