<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Visualizar Notas</title>
    <link rel="stylesheet" href="../styles/styleVisualizarNotas.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="logo-container">
            <img src="../images/LOGO.png" alt="Logo"> 
        </div>
        <div class="container1">
            <div class="text-center">
                <h1>Veja suas Notas Abaixo</h1>
            
            </div>

    </div>

</body>
</html>