<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <title>Gerenciamento de Disciplinas</title>
    <link rel="stylesheet" href="../styles/VisualizarHorarios.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="logo-container">
            <img src="../images/LOGO.png" alt="Logo">
        </div>
        <div class="container1">
            <div class="text-center">
                <h1>Veja seus horários abaixo</h1>
            </div>

            <section carrousel>
                <input id="slide-0" name="carrousel" type="radio" checked />
                <div class="slide">
                    <label for="slide-4" class="back">◀</label>
                    <div class="slide-content">
                        <h1>Segunda-Feira</h1>
                        <div class="horario">
                            <div>
                                <h2>Turma 6A</h2>
                                <p>Matemática</p>
                            </div>
                            <div>
                                <h2>Horário: 07:00 - 08:40</h2>
                            </div>
                        </div>
                        <div class="horario">
                            <div>
                                <h2>Turma 6A</h2>
                                <p>Matemática</p>
                            </div>
                            <div>
                                <h2>Horário: 08:50 - 10:30</h2>
                            </div>
                        </div>
                        <div class="horario">
                            <div>
                                <h2>Turma 6A</h2>
                                <p>Matemática</p>
                            </div>
                            <div>
                                <h2>Horário: 10:40 - 12:20</h2>
                            </div>
                        </div>
                    </div>
                    <label for="slide-1" class="forward">▶</label>
                </div>
            
                <input id="slide-1" name="carrousel" type="radio" />
                <div class="slide">
                    <label for="slide-0" class="back">◀</label>
                    <div class="slide-content">
                        <h1>Terça-Feira</h1>
                        <div class="horario">
                            <div>
                                <h2>Turma 6A</h2>
                                <p>Matemática</p>
                            </div>
                            <div>
                                <h2>Horário: 07:00 - 08:40</h2>
                            </div>
                        </div>
                        <div class="horario">
                            <div>
                                <h2>Turma 6A</h2>
                                <p>Matemática</p>
                            </div>
                            <div>
                                <h2>Horário: 08:50 - 10:30</h2>
                            </div>
                        </div>
                        <div class="horario">
                            <div>
                                <h2>Turma 6A</h2>
                                <p>Matemática</p>
                            </div>
                            <div>
                                <h2>Horário: 10:40 - 12:20</h2>
                            </div>
                        </div>
                    </div>
                    <label for="slide-2" class="forward">▶</label>
                </div>
            
                <input id="slide-2" name="carrousel" type="radio" />
                <div class="slide">
                    <label for="slide-1" class="back">◀</label>
                    <div class="slide-content">
                        <h1>Quarta-Feira</h1>
                        <div class="horario">
                            <div>
                                <h2>Turma 6A</h2>
                                <p>Matemática</p>
                            </div>
                            <div>
                                <h2>Horário: 07:00 - 08:40</h2>
                            </div>
                        </div>
                        <div class="horario">
                            <div>
                                <h2>Turma 6A</h2>
                                <p>Matemática</p>
                            </div>
                            <div>
                                <h2>Horário: 08:50 - 10:30</h2>
                            </div>
                        </div>
                        <div class="horario">
                            <div>
                                <h2>Turma 6A</h2>
                                <p>Matemática</p>
                            </div>
                            <div>
                                <h2>Horário: 10:40 - 12:20</h2>
                            </div>
                        </div>
                    </div>
                    <label for="slide-3" class="forward">▶</label>
                </div>
            
                <input id="slide-3" name="carrousel" type="radio" />
                <div class="slide">
                    <label for="slide-2" class="back">◀</label>
                    <div class="slide-content">
                        <h1>Quinta-Feira</h1>
                        <div class="horario">
                            <div>
                                <h2>Turma 6A</h2>
                                <p>Matemática</p>
                            </div>
                            <div>
                                <h2>Horário: 07:00 - 08:40</h2>
                            </div>
                        </div>
                        <div class="horario">
                            <div>
                                <h2>Turma 6A</h2>
                                <p>Matemática</p>
                            </div>
                            <div>
                                <h2>Horário: 08:50 - 10:30</h2>
                            </div>
                        </div>
                        <div class="horario">
                            <div>
                                <h2>Turma 6A</h2>
                                <p>Matemática</p>
                            </div>
                            <div>
                                <h2>Horário: 10:40 - 12:20</h2>
                            </div>
                        </div>
                    </div>
                    <label for="slide-4" class="forward">▶</label>
                </div>
            
                <input id="slide-4" name="carrousel" type="radio" />
                <div class="slide">
                    <label for="slide-3" class="back">◀</label>
                    <div class="slide-content">
                        <h1>Sexta-Feira</h1>
                        <div class="horario">
                            <div>
                                <h2>Turma 6A</h2>
                                <p>Matemática</p>
                            </div>
                            <div>
                                <h2>Horário: 07:00 - 08:40</h2>
                            </div>
                        </div>
                        <div class="horario">
                            <div>
                                <h2>Turma 6A</h2>
                                <p>Matemática</p>
                            </div>
                            <div>
                                <h2>Horário: 08:50 - 10:30</h2>
                            </div>
                        </div>
                        <div class="horario">
                            <div>
                                <h2>Turma 6A</h2>
                                <p>Matemática</p>
                            </div>
                            <div>
                                <h2>Horário: 10:40 - 12:20</h2>
                            </div>
                        </div>
                    </div>
                    <label for="slide-0" class="forward">▶</label>
                </div>
            </section>
        </div>
    </div>


</body>

</html>