body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/BGGerenciarProfessores.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.logo-container {
  width: 50px;
  height: auto;
  margin-top: 3%;
}

.logo-container img {
  width: 100%;
  height: auto;
}

.container1 {
  text-align: center;
}

.text-center {
  margin-top: 50px;
}

.button-container {
  margin-top: 20px;
}

.add-button {
  background-color: #09F112;
  color: #3E3F4A;
  padding: 10px 70px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  box-shadow: 2px 3px 0px 0px #046C08;
  transition: .3s;
}

.add-button:hover {
  scale: 1.1;
  transition: .3s;
}

.back-button {
  background-color: #dc3545;
  color: #fff;
  padding: 10px 70px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 2px 3px 0px 0px #8b1306;
  transition: .3s;
}

.back-button:hover {
  background-color: #c82333;
}

.disciplina-item {
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 200px;
  height: auto;
  text-align: center;
}

.botao-editar,
.botao-excluir {
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

.botao-excluir {
  background-color: #e74c3c;
  box-shadow: 2px 3px 0px 0px #8b1306;
  border: 1px solid #8b1306;
}

.botao-editar {
  background-color: #F2D22E;
  box-shadow: 2px 3px 0px 0px #9b8207;
  color: #000;
  border: 1px solid #9b8207;
}

h2, p {
  text-align: center;
}

#lista-disciplinas {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}


