body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/BGGerenciarProfessores.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.logo-container {
    width: 50px;
    height: auto;
    margin-top: 3%;
}

.logo-container img {
    width: 100%;
    height: auto;
}

.container1 {
    text-align: center;
}

.text-center {
    margin-top: 50px;
}

#lista-turmas {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.card {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 8px 0px rgba(124, 133, 255, 0.56);
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    width: 175px;
    font-size: 16px;
    text-align: center;
    
}

.buttonDetalhes {
    background-color: #7C85FF; 
    box-shadow: 2px 3px 0px 0px #4859B4; 
    border: 1px solid #4859B4 !important; 
    color: #fff; /* Texto branco */
    padding: 10px 20px; /* Reduza o padding horizontal */
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.buttonDetalhes:hover {
    background-color: #6F78EE;
    border: 1px solid #4859B4; 
    color: #fff; /* Texto branco */
    padding: 10px 20px; /* Reduza o padding horizontal */
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 3px 0px 0px #4859B4;
    scale: 1.1;
    transition: .3s;
}

button {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
}

button:hover {
    opacity: 0.9;
}

button[type="button"] {
    background-color: #dc3545;
    color: #fff;
}

button[type="button"]:hover {
    background-color: #c82333;
}

form .button-group {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}
