body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/BGGerenciarProfessores.jpg'); /* Certifique-se de ajustar o caminho conforme necessário */
    background-size: cover; /* Assegura que a imagem de fundo cubra toda a tela */
    background-position: center; /* Centraliza a imagem de fundo na tela */
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    overflow: hidden; /* Impede o scroll na página */
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  
  .logo-container {
      width: 50px; /* Defina a largura desejada */
      height: auto; /* Isso permite que a altura seja ajustada automaticamente para manter a proporção */
      margin-top: 3%;
    }
    
    .logo-container img {
    width: 100%; /* Garante que a imagem ocupe toda a largura do contêiner */
    height: auto; /* Isso permite que a altura seja ajustada automaticamente para manter a proporção */
      }

    /* Estilo para o contêiner do formulário */
.form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Alinha os itens no início do eixo transversal */
  background-color: white;
  padding: 20px;
  position: absolute;
  top: 5%;
  right: 31%;
  width: 100%;
  height: 100%;
  max-width: 500px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
}

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px; /* Espaço entre os campos do formulário */
    }
    
    label {
      margin-bottom: 0px;
      vertical-align: top;
      font-weight: bold; /* Adiciona negrito */
    }
    

/* Estilo para os inputs */
input[type="text"],
input[type="email"],
input[type="date"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 12px;
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Estilo para o campo de disciplina */
.inputField {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 12px;
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}



/* Estilo para o container do botão */
.buttonPC {
  display: flex;
  flex-direction: column; /* Altera a direção do flex container para coluna */
  align-items: center; /* Centraliza os itens horizontalmente */
  margin-top: 20px;
}


/* Estilo para o botão */
.buttonPC button {
  background-color: green; /* Define a cor de fundo como verde */
  color: white; /* Define a cor do texto como branco */
  border: none; /* Remove a borda */
  padding: 10px 80px; /* Adiciona um espaçamento interno ao botão */
  border-radius: 5px; /* Adiciona bordas arredondadas */
  cursor: pointer; /* Altera o cursor ao passar sobre o botão */
  font-size: 16px; /* Define o tamanho da fonte */
  align-self: center; /* Alinha o botão verticalmente no centro do container */
}

/* Estilo para o botão quando passa o mouse sobre ele */
.buttonPC button:hover {
  background-color: darkgreen; /* Altera a cor de fundo para uma tonalidade mais escura de verde */
}

/* Estilo para o link "Voltar para a página anterior" */
.linkVoltar {
  margin-top: 10px; /* Adiciona um espaço entre o botão e o link */
  font-size: 12px; /* Define o tamanho da fonte como pequeno */
  color: blue; /* Define a cor do texto como azul */
  text-decoration: underline; /* Sublinha o texto */
  cursor: pointer; /* Altera o cursor ao passar sobre o link */
}

/* Estilo para o link quando passa o mouse sobre ele */
.linkVoltar:hover {
  color: darkblue; /* Altera a cor do texto quando passa o mouse sobre o link */
}

