body,
html {
    height: 100%;
    margin: 0;
    background-image: url('../images/BGGerenciarProfessores.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
}

.container {
    width: 100%;
    max-width: 800px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logoHeader {
    text-align: center;
    padding: 30px;
}

.logoHeader img {
    width: 60px;
}

.text-center {
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

table {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

input[type="number"] {
    width: 60px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

button {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
}

button:hover {
    opacity: 0.9;
}

button[type="submit"] {
    background-color: #28a745;
    color: #fff;
}

button[type="button"] {
    background-color: #dc3545;
    color: #fff;
}

button[type="submit"]:hover {
    background-color: #218838;
}

button[type="button"]:hover {
    background-color: #c82333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form .button-group {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

/* Estilo para o card de detalhes */
.detalhes-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    width: 80%;
    max-width: 400px;
}

.detalhes-card h2 {
    text-align: center;
    margin-bottom: 20px;
}

.detalhes-card form {
    display: flex;
    flex-direction: column;
}

.detalhes-card label {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.detalhes-card label input {
    width: 50%;
}

.detalhes-card button {
    width: auto;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 14px;
}

.detalhes-card button[type="button"] {
    background-color: #007bff;
}

.detalhes-card button[type="button"]:hover {
    background-color: #0056b3;
}
