body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/BGGerenciarProfessores.jpg');
    /* Certifique-se de ajustar o caminho conforme necessário */
    background-size: cover;
    /* Assegura que a imagem de fundo cubra toda a tela */
    background-position: center;
    /* Centraliza a imagem de fundo na tela */
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.logo-container {
    width: 50px;
    /* Defina a largura desejada */
    height: auto;
    /* Isso permite que a altura seja ajustada automaticamente para manter a proporção */
    margin-top: 3%;
}

.logo-container img {
    width: 100%;
    /* Garante que a imagem ocupe toda a largura do contêiner */
    height: auto;
    /* Isso permite que a altura seja ajustada automaticamente para manter a proporção */
}

.container1 {
    text-align: center;
}

.text-center {
    margin-top: 50px;
    /* Espaçamento entre o texto e o botão, ajuste conforme necessário */
}

.add-button {
  background-color: #09F112;
  color: #3E3F4A;
  padding: 10px 70px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;    
  margin-bottom: 10px;
  box-shadow: 2px 3px 0px 0px #046C08;
  scale: 1;
  transition: .3s;
}

.add-button:hover{
  background-color: #09F112;
  color: #3E3F4A;
  padding: 10px 70px;
  border: none;
  border-radius: 5px;
  cursor: pointer;    
  margin-bottom: 10px;
  scale: 1.1;
  transition: .3s;
}


.disciplina-item {
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 200px;
  height: auto;
  text-align: center; /* Centraliza o conteúdo dentro do elemento */
}

.botao-editar,
.botao-excluir {
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px; /* Adiciona margem entre os botões */
}

.botao-excluir {
  background-color: #e74c3c; /* Cor vermelha */
}

.botao-editar {
  background-color: #f2d22e; /* Cor amarela */
}

h2{
  text-align: center;
}
p{
  text-align: center;
}

#lista-disciplinas {
  list-style-type: none;
  padding: 0;
}