body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: url('../images/BGGerenciarProfessores.jpg') center/cover no-repeat;
    font-family: 'Roboto', sans-serif;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Aligns all content centrally */
    width: 100%;
    height: 100%;
}

.centralizado {
    text-align: center; /* Ensures all text is centered */
}

.logo-container {
    width: 50px; 

}

.logo-container img {
    width: 50px; /* Adjust as needed */
    margin-left: 380% !important;
    
}

.button-container {
    margin-top: 20px;
}

.add-button {
    background-color: #09F112;
    color: #3E3F4A;
    padding: 10px 70px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 3px 0px #046C08;
    transition: 0.3s;
}

.add-button:hover {
    transform: scale(1.1);
}

#lista-professores {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 800px; /* Limita a largura total da lista */
    margin: 0 auto; /* Centraliza a lista de professores */
}

/* Estilos para os cards */
.card {
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    width: 80%; 
}

.card h2, .card p {
    text-align: center; /* Centraliza o texto */
}

.card button {
    background: #ED3239;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    cursor: pointer;
    margin-top: 10px; 
}

.botao-detalhes {
    background-color: #3498db;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    display: block; /* Garante tratamento como bloco */
    margin: 0 auto; /* Centraliza o botão */
}

#detalhes-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    z-index: 1000; /* Garante que o overlay esteja na frente de todos os outros elementos */
}

#detalhes-card {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1001; /* Garante que o card esteja na frente do overlay */
}

#detalhes-card h2 {
    margin-top: 0;
}

#detalhes-card button {
   margin-top: 10px;
    background-color: #3498db;
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

#detalhes-card button:hover {
    background-color: #2980b9;
}

.botao-editar {
    background-color: #F2D22E !important;
    color: #fff;
    border: none;
}

.botao-excluir {
    background-color: #e74c3c !important;
    color: #fff;
    border: none;
}

.botao-azul {
    background-color: #3498db; /* Cor azul */
}

botao-vermelho {
    background-color: #e74c3c; /* Cor vermelha */
}

botao-amarelo {
    background-color: #F2D22E; /* Cor amarela */
}
