body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../images/BG\ -Cadastro.png');
  background-size: cover;
  background-repeat:no-repeat;
}

/* Remove as configurações específicas que podem interferir no alinhamento */
.conteiner1 {
  display: none; /* Considerando remover ou ajustar este contêiner se não for necessário */
}

.logo-container {
  position: relative; /* Muda de 'absolute' para 'relative' */
  margin-bottom: 2rem; /* Adiciona espaço abaixo do logo, se necessário */
}

/* Certifica-se de que o formulário esteja centralizado */
.formulario {
  width: 80%; /* Ajuste conforme necessário */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background: #FFFFFF; /* Adiciona um fundo branco para o formulário */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona sombra ao formulário para destaque */
  border-radius: 8px; /* Borda arredondada */
}

/* Ajustes para inputs */
.formulario .box input {
  width: 80%; /* Define uma largura fixa para os inputs */
  padding: 10px;
  margin: 10px 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button1 {
  margin-top: 20px;
  display: flex;
  justify-content: center; /* Centraliza o botão no contêiner */
}

.button1 button {
  padding: 10px 20px;
  background-color: #ED3239;
  box-shadow: 2px 3px 0px 0px #900005;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button1 button:hover {
  background-color: #C52620;
  scale: 1.1;
  transition: .3s;
}
.emailAluno {
  background-image: url('../images/group_email.png'); /* Caminho para o ícone */
  background-repeat: no-repeat; /* Impede que a imagem se repita */
  background-position: 7px center; /* Posiciona a imagem a 10px da esquerda e centraliza verticalmente */

}
.senha_aluno {
  background-image: url('../images/senha.png'); /* Caminho para o ícone */
  background-repeat: no-repeat; /* Impede que a imagem se repita */
  background-position: 7px center; /* Posiciona a imagem a 10px da esquerda e centraliza verticalmente */

}
.nome_aluno{
  background-image: url('../images/Group\ 12.png'); 
  background-repeat: no-repeat; 
  background-position: 7px center; 

}
.emailAluno, .senha_aluno, .nome_aluno {
  background-size: 30px 30px; 
  box-shadow: 0px 0px 8px 0px rgba(124, 133, 255, 0.56) inset;
  background-repeat: no-repeat; /* Impede que a imagem se repita */
  background-position: 10px center; /* Ajusta a posição da imagem para a esquerda e centraliza verticalmente */
  padding-left: 50px !important; /* Aumenta o padding-left para evitar sobreposição do texto com a imagem */
  width: 100%; /* Ajusta a largura dos inputs para preencher o espaço disponível */
  border: 1px solid #ccc; /* Define a cor da borda */
  border-radius: 5px; /* Arredonda as bordas do input */
  padding: 20px; /* Define o padding interno para o topo, direita e baixo */
}